Repository js-template/padma, pull requests merged in 2024-10, with the labels that each got.

#1 UI import issue fixing, Ts-config update
  apps/site/src/app/(public)/layout.tsx
  apps/site/src/app/(public)/resume/[slug]/page.tsx
  apps/site/src/app/notFoundBody.tsx
  apps/site/src/lib/component.map.ts
  apps/site/tsconfig.json
Labels: bug

#3 Blog-categories schema added, Blog details page updated, Contact page cleaned
  apps/backend/src/api/post-category/content-types/post-category/schema.json
  apps/backend/src/api/post-category/controllers/post-category.js
  apps/backend/src/api/post-category/routes/post-category.js
  apps/backend/src/api/post-category/services/post-category.js
  apps/backend/src/api/post/content-types/post/schema.json
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/src/app/(public)/blog/[slug]/page.tsx
  apps/site/src/app/(public)/contact/page.tsx
  apps/site/src/app/(public)/job/[slug]/page.tsx
Labels: API Development, API Implementation

#4 Message component update
  apps/backend/src/api/chat/content-types/chat/schema.json
  apps/backend/src/api/company/content-types/company/schema.json
  apps/backend/src/api/message/content-types/message/schema.json
  apps/backend/src/api/message/controllers/message.js
  apps/backend/src/api/message/routes/message.js
  apps/backend/src/api/message/services/message.js
  apps/backend/src/components/block/manage-companies.json
  apps/backend/src/components/block/manage-lists.json
  apps/backend/src/components/config/message.json
  apps/backend/src/components/shared/empty.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/next.config.js
  apps/site/package.json
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/loading.tsx
  apps/site/src/app/api/find/route.ts
Labels: API Development, API Implementation, enhancement

#6 Manage list component schema updated
  apps/backend/src/api/company/content-types/company/schema.json
  apps/backend/src/api/list/content-types/list/schema.json
  apps/backend/src/api/tag/content-types/tag/schema.json
  apps/backend/src/components/block/manage-companies.json
  apps/backend/src/components/block/manage-lists.json
  apps/backend/src/components/config/header-config.json
  apps/backend/src/components/config/header-field.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
Labels: API Development, Planning, enhancement

#7 Public Header submenu, avatar, Auth component (Login, Register) moved to UI
  apps/site/src/app/(public)/layout.tsx
  apps/site/src/app/(public)/login/body.tsx
  apps/site/src/app/(public)/login/page.tsx
  apps/site/src/app/(public)/register/body.tsx
  apps/site/src/app/(public)/register/page.tsx
  apps/site/src/components/auth-login/index.tsx
  apps/site/src/components/auth-register/index.tsx
  apps/site/src/components/header/index.tsx
Labels: Public Page, bug

#10 Applied job added, ogin loader issue fixed
  apps/backend/package.json
  apps/backend/src/extensions/metajob-strapi/content-types/applied-job/schema.json
  apps/backend/src/plugins/metajob-strapi/package.json
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/src/app/(public)/about/page.tsx
  apps/site/src/app/(public)/company/[slug]/page.tsx
  apps/site/src/app/(public)/login/body.tsx
  apps/site/src/app/(public)/login/page.tsx
  apps/site/src/app/(public)/register/body.tsx
  apps/site/src/app/(public)/register/page.tsx
  apps/site/src/lib/component.map.ts
Labels: API Development, API Implementation, bug

#14 All category rendered component updated
  apps/site/src/lib/component.map.ts
Labels: Public Page

#21 Blog-card relation update, Dashboard component language props
  apps/backend/src/components/block/blog-card.json
  apps/backend/types/generated/components.d.ts
  apps/site/src/app/(private)/dashboard/body.tsx
  apps/site/src/app/(private)/dashboard/page.tsx
Labels: API Development, API Implementation

#23 backend bookmark header title input updated
  apps/backend/src/components/config/header-config.json
  apps/backend/types/generated/components.d.ts
Labels: API Development

#24 category update
  apps/backend/.strapi/client/app.js
  apps/backend/config/plugins.js
  apps/backend/package.json
  apps/backend/src/api/category/content-types/category/schema.json
  apps/backend/src/api/post-category/content-types/post-category/schema.json
  apps/backend/src/api/post-category/controllers/post-category.js
  apps/backend/src/api/post-category/routes/post-category.js
  apps/backend/src/api/post-category/services/post-category.js
  apps/backend/src/api/post/content-types/post/schema.json
  apps/backend/src/components/block/category-card2.json
  apps/backend/src/components/forms/job-filter.json
  apps/backend/src/extensions/metajob-strapi/content-types/company/schema.json
  apps/backend/src/extensions/metajob-strapi/content-types/job/schema.json
  apps/backend/src/extensions/metajob-strapi/content-types/resume/schema.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/PageBody.tsx
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/page.tsx
  apps/site/src/app/(public)/blog/[slug]/page.tsx
  apps/site/src/lib/component.map.ts
Labels: API Development, bug

#27 Seo metadata, dashboard extra page clean, category list block added
  apps/backend/src/components/block/category-card2.json
  apps/backend/src/components/block/category-list.json
  apps/backend/types/generated/components.d.ts
  apps/site/@fake-data/company-profile.ts
  apps/site/@fake-data/company.ts
  apps/site/@fake-data/find-job.ts
  apps/site/@fake-data/job-details.ts
  apps/site/src/app/(private)/dashboard/(candidate)/layout.tsx
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/PageBody.tsx
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/loading.tsx
  apps/site/src/app/(private)/dashboard/(candidate)/my-resume/page.tsx
  apps/site/src/app/(private)/dashboard/(employer)/layout.tsx
  apps/site/src/app/(private)/dashboard/(employer)/packages/PageBody.tsx
  apps/site/src/app/(private)/dashboard/(employer)/packages/data.ts
  apps/site/src/app/(private)/dashboard/(employer)/packages/page.tsx
  apps/site/src/app/(public)/[slug]/page.tsx
  apps/site/src/app/(public)/blog/[slug]/page.tsx
  apps/site/src/app/(public)/company/[slug]/page.tsx
  apps/site/src/app/(public)/job/[slug]/page.tsx
  apps/site/src/app/(public)/page.tsx
  apps/site/src/app/(public)/resume/[slug]/page.tsx
  apps/site/src/context/store.tsx
  apps/site/src/lib/component.map.ts
  apps/site/src/type/candidate-type.ts
  apps/site/src/type/candidate.ts
  apps/site/src/type/checkbox.ts
  apps/site/src/type/company-profile.ts
  apps/site/src/type/company-types.ts
  apps/site/src/type/company.ts
  apps/site/src/type/find-job.ts
  apps/site/src/type/footer.ts
  apps/site/src/type/home-page-type.ts
  apps/site/src/type/job-deatils.ts
  apps/site/src/type/job.ts
  apps/site/src/types/layout.ts
Labels: API Development, bug

#28 Single dynamic pages ISR and SEO generation functionality added
  apps/backend/config/plugins.js
  apps/backend/package.json
  apps/backend/src/api/blog-detail/content-types/blog-detail/schema.json
  apps/backend/src/api/list-detail/controllers/list-detail.js
  apps/backend/src/api/list-detail/routes/list-detail.js
  apps/backend/src/api/list-detail/services/list-detail.js
  apps/backend/src/components/single-type/job-details.json
  apps/backend/src/components/single-type/resume-details.json
  apps/backend/src/extensions/metajob-strapi/content-types/job-detail/schema.json
  apps/backend/src/extensions/metajob-strapi/content-types/resume-detail/schema.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/package.json
  apps/site/src/app/(public)/[slug]/[item]/page.tsx
  apps/site/src/app/(public)/job/[slug]/page.tsx
Labels: API Implementation, Code Review, Private Page, enhancement

#36 Public home component schema updated, public page body cleaned
  apps/backend/src/api/page/content-types/page/schema.json
  apps/backend/src/components/banner/banner-one.json
  apps/backend/src/components/block/blog-card.json
  apps/backend/src/components/block/category-card.json
  apps/backend/src/components/block/category-card2.json
  apps/backend/src/components/block/category-list.json
  apps/backend/src/components/block/job-card.json
  apps/backend/src/components/block/review-card.json
  apps/backend/src/components/forms/seaech-form.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/@fake-data/company-profile.ts
  apps/site/@fake-data/company.ts
  apps/site/@fake-data/find-job.ts
  apps/site/@fake-data/job-details.ts
  apps/site/@fake-data/menus.ts
  apps/site/src/app/(private)/dashboard/(multi)/my-profile/PageBody.tsx
  apps/site/src/app/(private)/dashboard/(multi)/my-profile/page.tsx
  apps/site/src/app/(public)/body.tsx
  apps/site/src/app/(public)/page.tsx
  apps/site/src/lib/component.map.ts
Labels: API Development, bug

#40 Site page Import update, home block styles schema
  apps/backend/src/api/blog-detail/content-types/blog-detail/schema.json
  apps/backend/src/components/banner/banner-one.json
  apps/backend/src/components/block/blog-card.json
  apps/backend/src/components/block/category-card.json
  apps/backend/src/components/block/job-card.json
  apps/backend/src/components/block/review-card.json
  apps/backend/src/components/single-type/blog-details.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/src/app/(private)/dashboard/(multi)/my-profile/page.tsx
  apps/site/src/app/(private)/dashboard/[slug]/body.tsx
  apps/site/src/app/(private)/dashboard/[slug]/page.tsx
  apps/site/src/app/(private)/dashboard/body.tsx
  apps/site/src/app/(private)/dashboard/page.tsx
  apps/site/src/app/(public)/[slug]/[item]/page.tsx
  apps/site/src/app/(public)/[slug]/page.tsx
  apps/site/src/app/(public)/blog/[slug]/page.tsx
  apps/site/src/lib/component.map.ts
Labels: API Development, API Implementation, bug

#46 Blank theme setup and Clean up
  apps/backend/types/generated/contentTypes.d.ts
  apps/site/src/app/(private)/body.tsx
  apps/site/src/app/(public)/LayoutBody.tsx
  apps/site/src/app/(public)/[slug]/[item]/page.tsx
  apps/site/src/app/(public)/[slug]/page.tsx
  packages/blank-theme/package.json
  packages/blank-theme/src/blocks/dashboard-nav/app-bar/hook.ts
  packages/blank-theme/src/blocks/dashboard-nav/app-bar/index.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/MobileNav.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/NavGroupItem.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/NavItems.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/NavLink.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/index.tsx
  packages/blank-theme/src/blocks/dashboard-nav/nav-bar/type.ts
  packages/blank-theme/src/blocks/footer/data.ts
  packages/blank-theme/src/blocks/footer/index.tsx
  packages/blank-theme/src/blocks/footer/type.ts
  packages/blank-theme/src/blocks/header/data.ts
  packages/blank-theme/src/blocks/header/index.tsx
  packages/blank-theme/src/blocks/header/types.ts
  packages/blank-theme/src/components/Button/index.tsx
  packages/blank-theme/src/components/breadcrumbs/index.tsx
  packages/blank-theme/src/components/cards/count.tsx
  packages/blank-theme/src/components/checkbox/index.tsx
  packages/blank-theme/src/components/common/card/index.tsx
  packages/blank-theme/src/components/common/go-back-btn/index.tsx
  packages/blank-theme/src/components/common/public-page-header/index.tsx
  packages/blank-theme/src/components/common/salary-rang-slider/index.tsx
  packages/blank-theme/src/components/loader/index.tsx
  packages/blank-theme/src/components/loader/pageLoader.tsx
  packages/blank-theme/src/components/markdown-preview/index.tsx
  packages/blank-theme/src/components/textField-with-label/index.tsx
  packages/blank-theme/src/index.tsx
  packages/blank-theme/src/lib/date-format.ts
  packages/blank-theme/src/shared/count-card/index.tsx
  packages/blank-theme/src/shared/count-card/loader.tsx
  packages/blank-theme/src/shared/count-card/type.ts
  packages/blank-theme/src/shared/google-map-box/index.tsx
  packages/blank-theme/src/shared/spacing/index.tsx
  packages/blank-theme/src/types/blog.ts
  packages/blank-theme/src/types/next-auth.d.ts
  packages/blank-theme/src/types/reviews.ts
  packages/blank-theme/src/types/user.ts
  packages/blank-theme/src/utils/calculateZoomLevel.ts
  packages/blank-theme/src/utils/index.ts
  packages/blank-theme/src/utils/placeholder.tsx
  packages/blank-theme/src/utils/user.ts
  packages/blank-theme/tsconfig.json
  packages/blank-theme/tsconfig.tsbuildinfo
Labels: Code Review, bug, enhancement
